<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stock_management>
            <general>
                <low_stock_threshold>10</low_stock_threshold>
            </general>
        </stock_management>
    </default>
</config>