<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vhit" translate="label" sortOrder="10">
            <label>Vhit</label>
        </tab>
        <section id="stock_management" translate="label" type="text"
                 sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Stock Management</label>
            <tab>vhit</tab>
            <resource>Vhit_StockReport::stock_management</resource>
            <group id="general" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <field id="low_stock_threshold" translate="label"
                       type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Low stock threshold</label>
                </field>
            </group>
        </section>
    </system>
</config>

